/**
*Contenteditor.css
* @author TemplateToaster
*/
.wp-admin .editor-styles-wrapper .ttr_home_html_row0
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;margin:80px 0 0 0;
background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;}
.wp-admin .editor-styles-wrapper .ttr_home_html_column00
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background:url(../images/1634660648html_column00.jpg);
background-color:#FFFFFF;
background-repeat:no-repeat;
background-size:cover;
background-position:Center Center;
background-clip:padding-box;margin:10px 10px 10px 10px;
padding:70px 5px 70px 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column01
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background:url(../images/1634660648html_column01.jpg);
background-color:#FFFFFF;
background-repeat:no-repeat;
background-size:cover;
background-position:Center Center;
background-clip:padding-box;margin:10px 10px 10px 10px;
padding:44px 5px 41px 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column02
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background:url(../images/1634660648html_column02.jpg);
background-color:#FFFFFF;
background-repeat:no-repeat;
background-size:cover;
background-position:Center Center;
background-clip:padding-box;margin:10px 10px 10px 10px;
padding:88px 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_row1
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;margin:80px 0 0 0;
background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;}
.wp-admin .editor-styles-wrapper .ttr_home_html_column10
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 40px 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column11
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:25px 25px 25px 25px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column12
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:25px 25px 25px 25px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column13
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:25px 25px 25px 25px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column14
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:25px 25px 25px 25px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column15
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:25px 25px 25px 25px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column16
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:25px 25px 25px 25px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_row2
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;margin:80px 0 0 0;
background-color:#F3F1F6;
background:rgba(243,241,246,1);
background-clip:padding-box;}
.wp-admin .editor-styles-wrapper .ttr_home_html_column20
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column21
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:#F3F1F6;
background:rgba(243,241,246,1);
background-clip:padding-box;padding:75px 5px 0 46px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_row3
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;margin:80px 0 0 0;
background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;}
.wp-admin .editor-styles-wrapper .ttr_home_html_column30
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 50px 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column31
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column32
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column33
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column34
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column35
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column36
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_row4
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;margin:80px 0 0 0;
background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;}
.wp-admin .editor-styles-wrapper .ttr_home_html_column40
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 50px 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column41
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column42
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_row5
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;margin:80px 0 0 0;
background-color:#7EB23D;
background:rgba(126,178,61,1);
background-clip:padding-box;}
.wp-admin .editor-styles-wrapper .ttr_home_html_column50
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:64px 100px 64px 100px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_row6
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;margin:80px 0 0 0;
background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;}
.wp-admin .editor-styles-wrapper .ttr_home_html_column60
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 40px 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column61
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column62
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column63
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}

.wp-admin .editor-styles-wrapper .ttr_home_html_row0
{
margin:40px 0 0 0;
padding:0 0 0 0;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column50
{
margin:0 0 0 0;
padding:50px 50px 50px 50px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}

.wp-admin .editor-styles-wrapper .ttr_home_html_row0
{
margin:40px 0 0 0;
padding:0 0 0 0;
}
.wp-admin .editor-styles-wrapper .ttr_home_html_column50
{
margin:0 0 0 0;
padding:30px 30px 30px 30px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
 .ttr_home_html_column50 h1 
{
font-size:2.06em;
}
 .ttr_home_html_column50 h2 
{
font-size:1.71em;
}
 .ttr_home_html_column50 h3 
{
font-size:1.37em;
}
 .ttr_home_html_column50 h4 
{
font-size:1.03em;
}
 .ttr_home_html_column50 h5 
{
font-size:0.8em;
}
 .ttr_home_html_column50 h6 
{
font-size:0.69em;
}
 .ttr_home_html_column50 p 
{
font-size:0.8em;
}
 .ttr_home_html_column50 p a:not(.btn):focus, .ttr_home_html_column50 p a:not(.btn)
{
font-size:1em;
}
 .ttr_home_html_column50 p a:not(.btn):visited
{
font-size:1em;
}
 .ttr_home_html_column50 p a:not(.btn):hover
{
font-size:1em;
}

.wp-admin .editor-styles-wrapper .ttr_about-us_html_row0
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;margin:80px 0 0 0;
background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;}
.wp-admin .editor-styles-wrapper .ttr_about-us_html_column00
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:30px 5px 0 40px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_about-us_html_column01
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_about-us_html_row1
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;margin:80px 0 0 0;
background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;}
.wp-admin .editor-styles-wrapper .ttr_about-us_html_column10
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 40px 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_about-us_html_column11
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:30px 30px 30px 30px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_about-us_html_column12
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:30px 30px 30px 30px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_about-us_html_column13
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:30px 30px 30px 30px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_about-us_html_row2
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;margin:80px 0 0 0;
background:url(../images/1673301641html_row2.jpg);
background-color:#FFFFFF;
background-repeat:no-repeat;
background-size:cover;
background-position:Center Center;
background-clip:padding-box;}
.wp-admin .editor-styles-wrapper .ttr_about-us_html_column20
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:100px 5px 100px 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_about-us_html_row3
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;margin:80px 0 0 0;
background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;}
.wp-admin .editor-styles-wrapper .ttr_about-us_html_column30
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 50px 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_about-us_html_column31
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_about-us_html_column32
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_about-us_html_column33
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}

.wp-admin .editor-styles-wrapper .ttr_about-us_html_row0
{
margin:40px 0 0 0;
padding:0 0 0 0;
}

.wp-admin .editor-styles-wrapper .ttr_contact_html_row0
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;}
.wp-admin .editor-styles-wrapper .ttr_contact_html_column00
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_contact_html_column01
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}

.wp-admin .editor-styles-wrapper .ttr_services_html_row0
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;}
.wp-admin .editor-styles-wrapper .ttr_services_html_column00
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:80px 5px 50px 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_services_html_column01
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_services_html_column02
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_services_html_column03
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_services_html_column04
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_services_html_row1
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;}
.wp-admin .editor-styles-wrapper .ttr_services_html_column10
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_services_html_column11
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_services_html_column12
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_services_html_column13
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_services_html_row2
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;margin:80px 0 0 0;
background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;}
.wp-admin .editor-styles-wrapper .ttr_services_html_column20
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background:url(../images/1700566950html_column20.jpg);
background-color:#FFFFFF;
background-repeat:no-repeat;
background-size:cover;
background-position:Center Center;
background-clip:padding-box;padding:0 5px 0 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}
.wp-admin .editor-styles-wrapper .ttr_services_html_column21
{
border-radius:0 0 0 0;
border:solid transparent;
border-width: 0 0 0 0;
box-shadow:none;background-color:transparent;
background:rgba(255,255,255,0);
background-clip:padding-box;padding:0 5px 0 43px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}

.wp-admin .editor-styles-wrapper .ttr_services_html_column20
{
margin:0 0 0 0;
padding:100px 5px 100px 5px;
word-wrap:break-word;
box-sizing: border-box;
overflow: hidden;
}

